<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 

<bean id="prodManagerDAO" class="com.lianmeng.core.prod.dao.mysql.ProdManagerDAOMysqlImpl"  parent="baseJdbcSupport">
</bean>

<bean id="versionManagerDAO" class="com.lianmeng.core.version.dao.mysql.VersionManagerDAOMysqlImpl"  parent="baseJdbcSupport">
</bean>

<bean id="homeManagerDAO" class="com.lianmeng.extend.lianmeng.home.dao.mysql.HomeManagerDAOMysqlImpl"  parent="baseJdbcSupport">
</bean>

<bean id="extProdManagerDAO" class="com.lianmeng.extend.lianmeng.extprod.dao.mysql.ExtProdManagerDAOMysqlImpl"  parent="baseJdbcSupport">
</bean>
<bean id="srvOrderManagerDAO" class="com.lianmeng.core.srv.dao.mysql.SrvOrderManagerDAOMysqlImpl"  parent="baseJdbcSupport">
</bean>
<bean id="userManagerDAO" class="com.lianmeng.core.user.dao.mysql.UserManagerDAOMysqlImpl"  parent="baseJdbcSupport">
</bean>
<bean id="payOrderManagerDAO" class="com.lianmeng.core.acco.dao.mysql.PayOrderManagerDAOMysqlImpl"  parent="baseJdbcSupport">
</bean>
<bean id="addressManagerDAO" class="com.lianmeng.core.addr.dao.mysql.AddressManagerDAOMysqlImpl"  parent="baseJdbcSupport">
</bean>
</beans>
